{% extends "base.html" %}
{% block content %}
<section class="search_box main_content_box">
    <h1>Discover People</h1>
    <form action="/search" method="get">
        <input type="text" name="q" id="search" placeholder="Chemex coffee recipe" value="{{ q }}">
        <select name="channel" id="channel" aria-labelledby="Channel in which to search (optional)">
            {% for c in channels %}
                <option value="{{ c._id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
    </form>
    <footer class="search_list">
        <ul>
            <li><a href="/search">Your Feed</a></li>
            <li><a href="/following">Following</a></li>
            <li><a href="/explore">People</a></li>
        </ul>
    </footer>
    <ul id="results" class="feed">
    </ul>
</section>
<script>
    var search = document.getElementById('search');
    search.addEventListener('keyup', function(e) {
        // run query if space key is pressed
        if (e.keyCode === 32) {
            var term = search.value;

            var results = document.getElementById('results');

            results.innerHTML = "<p style='text-align: center;'>Searching for: " + term + "</p>";

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/explore?query=' + term);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var results = document.getElementById('results');
                    as_json = JSON.parse(xhr.responseText);

                    var all_results = "";

                    if (as_json["items"].length == 0) {
                        all_results += "<p style='text-align: center;'>No results were found for your query.</p>";
                    }

                    for (var i = 0; i < as_json["items"].length; i++) {
                        result_item = `<li>
                            <h3><a href="${as_json["items"][i]["url"]}">${as_json["items"][i]["title"]}</a></h3>
                            <p>${as_json["items"][i]["content"]["text"].split(" ").slice(0, 75).join(" ")}</p>
                        </li>`;

                        all_results += result_item;
                    }

                    results.innerHTML = all_results;
                }
            }
            xhr.send();
        }
    });
</script>
{% endblock %}