<li {% if w["_is_read"] == False %}class="unread"{% endif %}>
    {% if w.get("name") %}
    <h3 id="{{ w['_id'] }}-heading"><a href='{{ w["url"] }}'>{{ w["name"] }}</a></h3>
    {% elif w.get("author") and w.get("author").get("name") %}
    <h3><a href='{{ w["url"] }}'>Post by {{ w["author"]["name"] }}</a></h3>
    {% endif %}
    {% if w.get("author") %}
        {% if w["author"]["photo"] %}
        <img src='{{ w["author"]["photo"] }}' class="avatar" alt='{{ w["author"]["name"] }}' />
        {% endif %}
        <p>
            Written by 
            <a href='{{ w["author"]["url"] }}'>
                {{ w["author"]["name"] }}
            </a>
        </p>
    {% endif %}
    {% if w.get("published") %}
    <p>Published on {{ w["published"] | strftime }}.</p>
    {% endif %}
    {% if w.get("photo") and w.get("video") and (w["video"][0]["url"].startswith("https://youtube.com") or w["video"][0]["url"].startswith("https://www.youtube.com")) %}
        <a href="{{ w["video"][0]["url"] }}" class="embedded_video" onclick="show_video('{{ w["video"][0]["url"] }}', '{{ w['_id'] }}');" id="{{ w['_id'] }}"><img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' /></a>
        <p>Click the image above to show the video.</p>
    {% elif w.get("photo") %}
        <img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' />
    {% endif %}
    <script>
        function show_video(url, id) {
            var iframe = document.createElement("iframe");
            iframe.src = url;
            iframe.width = "640";
            iframe.height = "480";
            iframe.frameborder = "0";
            iframe.allowfullscreen = "true";
            iframe.style.display = "block";
            var to_replace = document.getElementById(id);
            to_replace.parentNode.replaceChild(iframe, to_replace);
        }

        // replace urls on all embedded videos
        var all_videos = document.getElementsByClassName("embedded_video");
        
        for (var i = 0; i < all_videos.length; i++) {
            var id = all_videos[i].id;
            all_videos[i].href = "#" + id + "-heading";
        }
    </script>
    {% if w.get("video") and (not w["video"][0]["url"].startswith("https://youtube.com") and not w["video"][0]["url"].startswith("https://www.youtube.com")) %}
        <video controls>
            <source src='{{ w["video"][0]["url"] }}' type='video/mp4'>
        </video>
    {% elif w.get("audio") %}
        <audio controls>
            <source src='{{ w["audio"][0]["url"] }}' type='audio/mpeg'>
        </audio>
    {% endif %}
    {% if w.get("content") and w["content"].get("text") %}
    {% set content = w["content"]["text"].split(" ")[:75] %}
    <p id="{{ w['_id'] }}">{{ " ".join(content) }} {% if content | length == 75 %}...{% endif %}<span id="{{ w['_id'] }}-full" style="display: none;">{{ " ".join(w["content"]["text"].split(" ")[75:]) }}</span></p>
    {% if content | length == 75 %}<p class="js"><a onclick="show_all('{{ w['_id'] }}');" id="{{ w['_id'] }}-show">Show more</a></p>{% endif %}
    {% else %}
    <p><a href='{{ w["url"] }}'>Read the full post.</a></p>
    {% endif %}
    <p class="reaction_set">
        <a href="https://micropub.jamesg.blog/post?type=like&like-of={{ w['url'] }}" class="reaction">Like ❤️</a>
        <a href="https://micropub.jamesg.blog/post?type=bookmark&bookmark-of={{ w['url'] }}" class="reaction">Bookmark 🔖</a>
        <a href="https://micropub.jamesg.blog/post?type=repost&repost-of={{ w['url'] }}" class="reaction">Repost 🔁</a>
        <a href="https://micropub.jamesg.blog/post?in-reply-to={{ w['url'] }}" class="reaction">Reply 💬</a>
        <a href="/reader/{{ page_channel_uid }}/delete/{{ w['_id'] }}" class="reaction">Delete 🗑️</a>
    </p>
</li>