<li {% if w["_is_read"] == False %}class="unread"{% endif %}>
    {% if w.get("name") %}
    <h3 id="{{ w['_id'] }}-heading"><a href='{{ w["url"] }}'>{{ w["name"] }}</a></h3>
    {% elif w.get("author") and w.get("author").get("name") %}
    <h3><a href='{{ w["url"] }}'>Post by {{ w["author"]["name"] }}</a></h3>
    {% endif %}
    {% if w.get("author") %}
        {% if w["author"]["photo"] %}
        <img src='{{ w["author"]["photo"] }}' class="avatar" alt='{{ w["author"]["name"] }}' />
        {% endif %}
        <p>
            Written by 
            <a href='{{ w["author"]["url"] }}'>
                {{ w["author"]["name"] }}
            </a>
        </p>
    {% endif %}
    {% if w.get("published") %}
    <p>Published on {{ w["published"] | strftime }}.</p>
    {% endif %}
    {% if w.get("photo") and w.get("video") and (w["video"][0]["url"].startswith("https://youtube.com") or w["video"][0]["url"].startswith("https://www.youtube.com")) %}
        <a href="{{ w["video"][0]["url"] }}" class="embedded_video" onclick="show_video('{{ w["video"][0]["url"] }}', '{{ w['_id'] }}');" id="{{ w['_id'] }}"><img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' /></a>
        <p>Click the image above to show the video.</p>
    {% elif w.get("photo") %}
        <img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' />
    {% endif %}
    {% if w.get("video") and (not w["video"][0]["url"].startswith("https://youtube.com") and not w["video"][0]["url"].startswith("https://www.youtube.com")) %}
        <video controls>
            <source src='{{ w["video"][0]["url"] }}' type='video/mp4'>
        </video>
    {% elif w.get("audio") %}
        <audio controls>
            <source src='{{ w["audio"][0]["url"] }}' type='audio/mpeg'>
        </audio>
    {% endif %}
    {% if w.get("content") and w["content"].get("text") and show_all_content == False %}
    {% set content = w["content"]["text"].split(" ")[:75] %}
    <p id="{{ w['_id'] }}"><span id="{{ w['_id'] }}-start">{{ " ".join(content) }} {% if content | length == 75 %}...{% endif %}</span><span id="{{ w['_id'] }}-full" style="display: none;">{{ " ".join(w["content"]["text"].split(" ")[75:]) }}</span></p>
    {% if content | length == 75 %}<p class="js"><a onclick="show_all('{{ w['_id'] }}')" id="{{ w['_id'] }}-show">Show more</a></p>{% endif %}
    {% elif show_all_content == False %}
    <p><a href='{{ w["url"] }}'>Read the full post.</a></p>
    {% else %}
    <p id="{{ w['_id'] }}"><span id="{{ w['_id'] }}-start">{{ w["content"]["text"] }}</span></p>
    {% endif %}
    <a href="/read/{{ w['_id'] }}">Read Full Post In Reader</a>
    {% if "create" in session.get("scope") %}
    <p class="reaction_set">
        <a onclick="send_reaction('like-of', 'like', '{{ w['url'] }}', '{{ w['_id'] }}')" href="https://micropub.jamesg.blog/post?type=like&like-of={{ w['url'] }}" class="reaction">Like ❤️</a>
        <a onclick="send_reaction('bookmark-of', 'bookmark', '{{ w['url'] }}', '{{ w['_id'] }}')" href="https://micropub.jamesg.blog/post?type=bookmark&bookmark-of={{ w['url'] }}" class="reaction">Bookmark 🔖</a>
        <a onclick="send_reaction('in-reply-to', 'reply', '{{ w['url'] }}', '{{ w['_id'] }}')" href="https://micropub.jamesg.blog/post?in-reply-to={{ w['url'] }}" class="reaction">Reply 💬</a>
        <a href="/read/{{ w['_id'] }}" class="reaction">View in Reader 📚</a>
        <a href="/reader/{{ page_channel_uid }}/delete/{{ w['_id'] }}" class="reaction">Delete 🗑️</a>
    </p>
    {% else %}
    <p class="reaction_set">
        <a href="/reader/{{ page_channel_uid }}/delete/{{ w['_id'] }}" class="reaction">Delete 🗑️</a>
    </p>
    {% endif %}
</li>