<li {% if w["_is_read"] == False %}class="unread"{% endif %}>
    {% if w.get("title") %}
    <h3 id="{{ w['_id'] }}-heading"><a href='{{ w["url"] }}' target="_blank">{{ w["title"] }}</a></h3>
    {% endif %}
    {% if w.get("photo") and w.get("video") and (w["video"][0]["url"].startswith("https://youtube.com") or w["video"][0]["url"].startswith("https://www.youtube.com")) %}
        <a href="{{ w["video"][0]["url"] }}" class="embedded_video" onclick="show_video('{{ w["video"][0]["url"] }}', '{{ w['_id'] }}');" id="{{ w['_id'] }}"><img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' /></a>
        <p>Click the image above to show the video.</p>
    {% elif w.get("photo") and w.get("content") and "img" not in w.get("content").get("html", "") %}
        <img src='{{ w["photo"] }}' alt='{{ w["name"] }} header photo' />
    {% endif %}
    {% if w.get("author") %}
    <div class="author flex_item">
        {% if w["author"]["photo"] %}
        <img src='{{ w["author"]["photo"] }}' class="avatar" alt='{{ w["author"]["name"] }}' style="flex: 0;" />
        {% endif %}
        <p style="flex: 1;">
            Written by 
            <a href='{{ w["author"]["url"] }}' target="_blank">
                {{ w["author"]["name"] }}
            </a>
            on {{ w["published"] | strftime }}
        </p>
    </div>
    {% elif w.get("published") %}
    <p>Published on {{ w["published"] | strftime }}.</p>
    {% endif %}
    {% if w.get("video")
        and (not w["video"][0]["url"].startswith("https://youtube.com")
        and not w["video"][0]["url"].startswith("https://www.youtube.com"))
        and w.get("content")
        and "video" not in w.get("content").get("html", "") %}
        <video controls>
            <source src='{{ w["video"][0]["url"] }}' type='video/mp4'>
        </video>
    {% elif w.get("audio") %}
        <audio controls>
            <source src='{{ w["audio"][0]["url"] }}' type='audio/mpeg'>
        </audio>
    {% endif %}
    {% if w.get("content") and w["content"].get("html") and show_all_content != True %}
    {% set content = w["content"]["html"].split(". ")[:3] %}
    <p id="{{ w['_id'] }}"><span id="{{ w['_id'] }}-start">{{ ". ".join(content) | safe }} {% if content | length == 75 %}...{% endif %}</span><span id="{{ w['_id'] }}-full" style="display: none;">{{ " ".join(w["content"]["text"].split(" ")[75:]) }}</span></p>
    {% if content | length == 75 %}<p class="js"><a onclick="show_all('{{ w['_id'] }}')" id="{{ w['_id'] }}-show">Show more</a></p>{% endif %}
    {% elif show_all_content == False %}
    <p><a href='{{ w["url"] }}' target="_blank">Read the full post.</a></p>
    {% else %}
    <hr>
    <p id="{{ w['_id'] }}"><span id="{{ w['_id'] }}-start">{{ w["content"]["html"] | safe }}</span></p>
    <hr>
    {% endif %}
    <p class="reaction_set">
        {% if "create" in session.get("scope") and session.get('micropub_url') %}
            <a onclick="event.preventDefault(); send_reaction('like-of', 'like', '{{ w['url'] }}', '{{ w['_id'] }}')" href="{{ session.get('micropub_url') }}/post?type=like&like-of={{ w['url'] }}" class="reaction {% if w.get("reactions", {}).get("like-of") == '' %}reacted{% endif %}" id="{{ w['_id'] }}-like-of">❤️</a>
            <a onclick="event.preventDefault(); send_reaction('bookmark-of', 'bookmark', '{{ w['url'] }}', '{{ w['_id'] }}')" href="{{ session.get('micropub_url') }}/post?type=bookmark&bookmark-of={{ w['url'] }}" class="reaction {% if w.get("reactions", {}).get("bookmark-of") == '' %}reacted{% endif %}" id="{{ w['_id'] }}-bookmark-of">🔖</a>
            <a onclick="event.preventDefault(); toggle_textbox('{{ w['_id'] }}')" href="{{ session.get('micropub_url') }}/post?in-reply-to={{ w['url'] }}" class="reaction">💬</a>
        {% endif %}
        <a href="/reader/{{ page_channel_uid }}/delete?entry_id={{ w['_id'] }}" class="reaction">🗑️</a>
        {% if show_all_content != True and not w['_id'].startswith("http") %}
            <a href="/read/{{ w['_id'] }}" class="reaction-no-link">Read Full Post 📚</a>
        {% elif show_all_content != True and w['_id'].startswith("http") %}
            <a href="{{ w['url'] }}" class="reaction-no-link" target="_blank">Read Full Post 📚</a>
        {% endif %}

        {% if session.get('micropub_url') %}
        <div id="{{ w['_id'] }}-textbox" style="display: none; margin-top: 10px;">
            <label for="content">Reply content:</label><br>
            <textarea name="content" rows="8" id='{{ w["_id"] }}-form'></textarea><br>
            <input type="hidden" name="h" value="entry">
            <input type="hidden" name="in-reply-to" value="{{ w["url"] }}">
            <div style="text-align: right;">
                <input type="submit" value="Send Reply 💬" onclick="submit_micropub('{{ w["_id"] }}', '{{ w["url"] }}')" />
            </div>
        </div>
        {% endif %}
        {% if w.get("reactions", {}).get("replies") %}
            <h3>Your Replies</h3>
            {% for reply in w["reactions"]["replies"] %}
            <p>
                {{ reply["content"] }}
                (<a href="{{ reply["url"] }}" target="_blank">{{ reply["url"] }}</a>)
            </p>
            {% endfor %}
        {% endif %}
    </li>
</li>