{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
{% include "show_error.html" %}
<script>
    function send_reaction(reaction, reaction_name, post_url, post_id) {
        fetch('/react', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": "Bearer {{ session.get("access_token") }}"
            },
            body: new URLSearchParams({
                "h": "entry",
                "reaction": reaction,
                "url": post_url
            })
        }).then(function(response) {
            // if status code == 200
            if (response.status == 200) {
                // update the post
                var notification = document.createElement("section");
                notification.className = "notification_bar";
                notification.innerHTML = "<p>Your " + reaction_name + " has been sent.</p>";
                document.getElementById(post_id).appendChild(notification);

                // remove the notification after 5 seconds

                setTimeout(function() {
                    document.getElementById(post_id).removeChild(notification);
                }, 5000);
            }
        })
    }
</script>
<div id="settings" style="display: none;">
    <span class="close mobile_close" onclick="trigger_modal('settings')">&times;</span>
    <h2>Settings</h2>
    <ul>
      <li><a href="/channels">Channels</a></li>
      <li><a href="/feeds">Feeds</a></li>
      {% if session.get("micropub_url") %}
        <li><a href="{{ session.get('micropub_url') }}">Micropub</a></li>
      {% endif %}
      <li><a href="/settings">Logged in as {{ session.get("me").replace("https://", "").strip("/") }}</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
<div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-top: 15px;">
<aside class="flex_left_home" id="sidebar">
    <div class="main_menu_mobile">
        <span class="close mobile_close" onclick="trigger_modal('sidebar')">&times;</span>
        <h2>Your Channels</h2>
        <ul>
            {% for channel in channels %}
            <li>
                {% if channel.uid == page_channel_uid %}
                <a href="/reader/{{ channel.uid }}" style="font-weight: 600;">{{ channel.name }} {% if channel.unread > 0 %}({{ channel.unread }}){% endif %}</a>
                {% else %}
                <a href="/reader/{{ channel.uid }}">{{ channel.name }} {% if channel.unread > 0 %}({{ channel.unread }}){% endif %}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Manage</h3>
        <a href="/search" class="button_link" id="search_button">Search</a>
        <a href="/feeds" class="button_link" id="subscribe_to_feed">Subscribe to a new feed</a>
        <a href="/channel/{{ page_channel_uid }}/replace" class="button_link" id="channel_settings_button">Channel Settings</a>
        {% if results | length > 0 %}
            <form method="POST" action="/read">
                <input type="hidden" name="channel" value="{{ page_channel_uid }}">
                <input type="hidden" name="status" value="mark_read">
                <input type="hidden" name="last_read_entry" value="{{ results[-1]['_id'] }}">
                <button>Mark All As Read</button>
            </form>
            <form method="POST" action="/read">
                <input type="hidden" name="channel" value="{{ page_channel_uid }}">
                <input type="hidden" name="status" value="mark_unread">
                <input type="hidden" name="last_read_entry" value="{{ results[-1]['_id'] }}">
                <button>Mark All as Unread</button>
            </form>
        {% endif %}
        <hr>
        <h3>Feeds in this Channel</h3>
        {% if feeds["items"] | length > 0 %}
        <ul>
            {% for feed in feeds["items"] %}
                <li>{% if feed.get("photo") %}<img src="{{ feed['photo'] }}" alt="{{ feed['name'] }} feed icon" style="width: 20px; height: 20px; display: inline; margin-right: 5px;">{% endif %}
                    <a href="{{ feed['url'] }}">{% if feed.get("name") %}{{ feed['name'] }}{% else %}{{ feed['url'] }}{% endif %}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no feeds in this channel yet.</p>
        {% endif %}
    </div>
</aside>
<section class="feed flex_right_home">
    {% if results | length > 0 %}
    <ul>
    {% if is_searching == True %}
        <li>
            <p>Searching for: <b>{{ query }}</b></p>
        </li>
    {% endif %}
    {% set count = namespace(value=0) %}
      {% for w in results %}
      {% if (count.value > 0 and published_dates[count.value-1] and published_dates[count.value-1][:8] != published_dates[count.value][:8]) or count.value == 0 %}
        {% if w.get("published") %}
        <h2>{{ w["published"] | strftime }}</h2>
        {% endif %}
        {% endif %}
        {% include "client/feed_item.html" %}
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </ul>
    {% else %}
    <p class="content_box">There are no posts in this channel. Check back later to see if any posts are added.</p>
    {% endif %}
    {% if after != "" or before != "" %}
        <div class="bottom-navigation">
            {% if after != "" %}
                <div class="prev">
                    <p><a href="/reader/{{ page_channel_uid }}?before={{ before }}">See Older Posts</a></p>
                </div>
            {% endif %}
            {% if before != "" %}
            <div class="next">
                <p><a href="/reader/{{ page_channel_uid }}?after={{ after }}">See Newer Posts</a></p>
            </div>
            {% endif %}
        </div>
    {% endif %}
</section>
<section id="podcast_overlay" class="podcast" style="display: none; border-radius: 10px;">
    <p id="podcast_info"></p>
    <audio id="focused_audio"></audio>
    <div id="podcast_controls">
        <button id="podcast_play" class="podcast_controls" onclick="play_podcast()">Play</button>
        <button id="podcast_pause" class="podcast_controls" onclick="pause_podcast()">Pause</button>
    </div>
</section>
</div>
<section class="content_box modal" style="display: none;" id="subscribe">
    <div class="modal_content">
        <span class="close" onclick="trigger_modal('subscribe')">&times;</span>
        <h2>Subscribe to a Feed</h2>
        <p>Use the form below to subscribe to a feed.</p>
        <p>Microformats 2 (mf2) and RSS feeds are currently supported.</p>
        <form action="/preview" method="GET">
        <label for="channel">Channel Name:</label><br>
        <select name="channel" id="channel">
            {% for channel in channels %}
                {% if channel.uid != "all" %}
                    <option value="{{ channel.uid }}" {% if channel.uid == page_channel_uid %}selected{% endif %}>{{ channel.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <label for="url">Feed Address:</label><br>
        <input id="url" type="url" name="url" placeholder="https://jamesg.blog/feed.xml" /><br>
        <input type="submit" value="Preview Subscription" />
        </form>
    </div>
</section>
<section class="content_box modal" style="display: none;" id="channel_settings">
    <div class="modal_content">
        <span class="close" onclick="trigger_modal('channel_settings')">&times;</span>
        <h2>Channel Settings</h2>

        <h3>Rename Channel</h3>
        <form action="/channel/{{ page_channel_uid }}" method="POST">
            <label for="name">Channel Name:</label><br>
            <input type="text" name="name" id="name" value="{{ channel_name }}" placeholder="Channel name"><br>
            <input type="hidden" name="method" id="method" value="delete">
            <input type="hidden" name="action" id="action" value="channels">
            <input type="submit" value="Rename Channel">
        </form>

        <h3>Delete Channel</h3>
        <p>You can delete this channel using the button below.</p>
        <p>Deleting a channel is irreversible.</p>
        <form action="/delete-channel" method="POST">
            <input type="hidden" name="channel" id="channel_item" value="{{ page_channel_uid }}">
            <input type="hidden" name="method" id="method" value="delete">
            <input type="hidden" name="action" id="action" value="channels">
            <input type="submit" value="Delete Channel">
        </form>
    </div>
</section>
<section class="content_box modal" style="display: none;" id="search">
    <div class="modal_content">
        <span class="close" onclick="trigger_modal('search')">&times;</span>
        <h2>Search for a post</h2>
        <p>Use the form below to find a blog post in your feed.</p>
        <form method="GET" action="/search" role="search">
            <input type="hidden" name="channel" value="{{ page_channel_uid }}">
            <input type="text" name="query" placeholder="Search for a post" aria-label="Search for a post" class="search_bar" style="width: 75%;">
            <button class="search_button" style="width: 25%;">Search</button>
        </form>
    </div>
</section>
<script src="/reader.js"></script>
{% endblock %}