{% extends "base.html" %}
{% block content %}
<style>
    .feed li {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <section class="notification">
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </section>
    {% endif %}
{% endwith %}
<div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-top: 15px;">
<aside class="flex_left_home">
    <div class="main_menu_mobile">
        <h2>Your Channels</h2>
        <ul>
            {% for channel in channels %}
            <li>
                {% if channel.uid == page_channel_uid %}
                <a href="/reader/{{ channel.uid }}" style="font-weight: 600;">{{ channel.name }} {% if channel.unread > 0 %}({{ channel.unread }}){% endif %}</a>
                {% else %}
                <a href="/reader/{{ channel.uid }}">{{ channel.name }} {% if channel.unread > 0 %}({{ channel.unread }}){% endif %}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Manage</h3>
        <a href="/search" class="button_link" id="search_button" tabindex="0">Search</a>
        <a href="/feeds" class="button_link" id="subscribe_to_feed" tabindex="0">Subscribe to a new feed</a>
        <a href="/channel/{{ page_channel_uid }}/replace" class="button_link" id="channel_settings" tabindex="0">Channel Settings</a>
        {% if results | length > 0 %}
            <form method="POST" action="/read">
                <input type="hidden" name="channel" value="{{ page_channel_uid }}">
                <input type="hidden" name="status" value="mark_read">
                <input type="hidden" name="last_read_entry" value="{{ results[-1]['_id'] }}">
                <button>Mark All As Read</button>
            </form>
            <form method="POST" action="/read">
                <input type="hidden" name="channel" value="{{ page_channel_uid }}">
                <input type="hidden" name="status" value="mark_unread">
                <input type="hidden" name="last_read_entry" value="{{ results[-1]['_id'] }}">
                <button>Mark All as Unread</button>
            </form>
        {% endif %}
        <hr>
        <h3>Feeds in this Channel</h3>
        <details>
            <summary>See feeds</summary>
            {% if feeds["items"] | length > 0 %}
            <ul>
                {% for feed in feeds["items"] %}
                    <li>{% if feed.get("icon") %}<img src="{{ feed['icon'] }}" alt="{{ feed.title }} feed icon" style="width: 20px; height: 20px;">{% endif %}
                        <a href="{{ feed['url'] }}">{% if feed.get("name") %}{{ feed['name'] }}{% else %}{{ feed['url'] }}{% endif %}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are feeds in this channel yet.</p>
            {% endif %}
        </details>
    </div>
    <div class="main_menu_mobile_message">
        <button onclick="show_channels()">Show channels</button>
    </div>
</aside>
<section class="feed flex_right_home">
    {% if results | length > 0 %}
    <ul>
    {% if is_searching == True %}
        <li>
            <p>Searching for: <b>{{ query }}</b></p>
        </li>
    {% endif %}
    {% set count = namespace(value=0) %}
      {% for w in results %}
      {% if (count.value > 0 and published_dates[count.value-1] and published_dates[count.value-1][:8] != published_dates[count.value][:8]) or count.value == 0 %}
        {% if w.get("published") %}
        <h2>{{ w["published"] | strftime }}</h2>
        {% endif %}
        {% endif %}
        {% include "client/feed_item.html" %}
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </ul>
    {% else %}
    <p class="content_box">There are no posts in this channel. Check back later to see if any posts are added.</p>
    {% endif %}
    {% if after != "" or before != "" %}
        <div class="bottom-navigation">
            <div class="prev">
                <p><a href="/reader/{{ page_channel_uid }}?before={{ after }}">See Older Posts</a></p>
            </div>
            {% if before != None %}
            <div class="next">
                <p><a href="/reader/{{ page_channel_uid }}?after={{ before }}">See Newer Posts</a></p>
            </div>
            {% endif %}
        </div>
    {% endif %}
</section>
</div>
<section class="content_box modal" style="display: none;" id="subscribe">
    <div class="modal_content">
        <span class="close" onclick="close_modal()">&times;</span>
        <h2>Subscribe to a Feed</h2>
        <p>Use the form below to subscribe to a feed.</p>
        <p>Microformats 2 (mf2) and RSS feeds are currently supported.</p>
        <form action="/preview" method="GET">
        <label for="channel">Channel Name:</label><br>
        <select name="channel" id="channel">
            {% for channel in channels %}
                {% if channel.uid != "all" %}
                    <option value="{{ channel.uid }}">{{ channel.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <label for="url">Feed Address:</label><br>
        <input id="url" type="url" name="url" placeholder="https://jamesg.blog/feed.xml" /><br>
        <input type="submit" value="Preview Subscription" />
        </form>
    </div>
</section>
<section class="content_box modal" style="display: none;" id="channel_settings">
    <div class="modal_content">
        <span class="close" onclick="close_modal()">&times;</span>
        <h2>Channel Settings</h2>

        <h3>Rename Channel</h3>
        <form action="/channel/{{ page_channel_uid }}" method="POST">
            <label for="name">Channel Name:</label><br>
            <input type="text" name="name" id="name" value="{{ channel_name }}" placeholder="Channel name"><br>
            <input type="hidden" name="method" id="method" value="delete">
            <input type="hidden" name="action" id="action" value="channels">
            <input type="submit" value="Rename Channel">
        </form>

        <h3>Delete Channel</h3>
        <p>You can delete this channel using the button below.</p>
        <p>Deleting a channel is irreversible.</p>
        <form action="/delete-channel" method="POST">
            <input type="hidden" name="channel" id="channel_item" value="{{ page_channel_uid }}">
            <input type="hidden" name="method" id="method" value="delete">
            <input type="hidden" name="action" id="action" value="channels">
            <input type="submit" value="Delete Channel">
        </form>
    </div>
</section>
<section class="content_box modal" style="display: none;" id="search">
    <div class="modal_content">
        <span class="close" onclick="close_modal()">&times;</span>
        <h2>Search for a post</h2>
        <p>Use the form below to find a blog post in your feed.</p>
        <form method="POST" action="/search" role="search">
            <input type="hidden" name="channel" value="{{ page_channel_uid }}">
            <input type="text" name="query" placeholder="Search for a post" aria-label="Search for a post" class="search_bar" style="width: 75%;">
            <button class="search_button" style="width: 25%;">Search</button>
        </form>
    </div>
</section>
<script>
    var js_req = document.getElementsByClassName("js");

    for (var i = 0; i < js_req.length; i++) {
        js_req[i].style.display = "inline";
    }
    
    function trigger_modal(id) {
        var modal = document.getElementById(id);
        if (modal.style.display == "none") {
            modal.style.display = "block";
        } else {
            modal.style.display = "none";
        }
    }

    function close_modal() {
        var modal = document.getElementsByClassName("modal");
        for (var i = 0; i < modal.length; i++) {
            if (event.target == modal[i]) {
                modal[i].style.display = "none";
            }
        }
    }

    window.onclick = function(event) {
        close_modal()
    }

    var close = document.getElementsByClassName("close");

    close.onclick = function() {
        close_modal()
    }

    function show_channels() {
        var channels = document.getElementsByClassName("main_menu_mobile")[0];

        if (channels.style.display == "none") {
            channels.style.display = "block";
        } else {
            channels.style.display = "none";
        }
    }

    function show_all(id) {
        var item_to_show = document.getElementById(id + "-full");
        var show_label = document.getElementById(id + "-show");
        var original_text = document.getElementById(id);

        original_text.innerText = original_text.innerText.replace("...", "");

        if (item_to_show.style.display === "none") {
            item_to_show.style.display = "inline";
            show_label.innerHTML = "Show less";
        } else {
            item_to_show.style.display = "none";
            show_label.innerHTML = "Show more";
        }
    }
    var search_button = document.getElementById("search_button");
    var subscribe_to_feed = document.getElementById("subscribe_to_feed");
    var channel_settings = document.getElementById("channel_settings");

    console.log(search_button);
    
    search_button.href = "#";
    subscribe_to_feed.href = "#";
    channel_settings.href = "#";

    search_button.onclick = function() {
        trigger_modal("search");
    }

    subscribe_to_feed.onclick = function() {
        trigger_modal("subscribe");
    }

    channel_settings.onclick = function() {
        trigger_modal("channel_settings");
    }
</script>
{% endblock %}