{% extends "base.html" %}
{% block content %}
<div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-top: 15px;">
<section class="feed flex_right_home">
    <ul id="feed_list">
        {% if channels[1]['uid'] != channel_id %}
            <li style="text-align: right;">
                <div class="post_container_footer">
                    <p class="reaction_set flex_left_home" style="margin-top: 0; width: initial;">
                        <input type="file" id="post_image" style="display: none;">
                        <label for="post_image" class="reaction">📷</label>
                        <span onclick="trigger_modal('rsvp_form', true)" class="reaction">📅</span>
                        <span onclick="trigger_modal('rating_form', true)" class="reaction">⭐</span>
                        <span onclick="trigger_modal('reply_to', true)" class="reaction">↩️</span>
                        <span onclick="trigger_modal('gif_search_bar', true)" class="reaction">🎥</span>
                    </p>
                    <div class="flex_right_home">
                        (<span id="character_count">0</span>)
                        <button id="post_button" style="width: 100px; text-align: center;" onclick="post_note(all_uploaded_photos)">Post</button>
                    </div>
                    <p id="data_message"></p>
                </div>
                <div aria-labelledby="Post content" id="content" name="content" contenteditable="true" placeholder="Express yourself..." role="textbox"></div>
                <p id="photos"></p>
                <input aria-labelledby="In reply to URL" type="text" id="reply_to" placeholder="In reply to" style="display: none;" />
                <div class="post_form rating_form" id="rating_form">
                    <label for="rating">Rating:</label>
                    <input type="number" id="rating" placeholder="Rating" />
                </div>
                <div class="post_form rsvp_form" id="rsvp_form">
                    <label for="rsvp">RSVP:</label><br>
                    <select id="rsvp">
                        <option value="" selected>Select</option>
                        <option value="yes">Yes</option>
                        <option value="maybe">Maybe</option>
                        <option value="no">No</option>
                    </select><br>
                </div>
                <input aria-labelledby="Search for a GIF" type="text" id="gif_search_bar" placeholder="Search for a GIF" style="display: none;" />
                <p id="gif_list"></p>
            </li>
        {% endif %}
    {% if results | length > 0 %}
    {% set count = namespace(value=0) %}
      {% for w in results %}
        {% if (count.value > 0 and published_dates[count.value-1] and published_dates[count.value-1][:8] != published_dates[count.value][:8]) or count.value == 0 %}
            {% if w.get("published") %}
            <li>
                <h2>{{ w["published"] | strftime }}</h2>
            </li>
            {% endif %}
            {% endif %}
            {% include "client/feed_item.html" %}
        {% set count.value = count.value + 1 %}
        {% endfor %}
        {% if after != "" or before != "" %}
            <li style="display: flex;">
                {% if before != "" %}
                    <div style="width: 50%; text-align: center;">
                        <p><a href="/reader/{{ page_channel_uid }}?before={{ before }}">See Older Posts</a></p>
                    </div>
                {% endif %}
                {% if after != "" %}
                <div style="width: 50%; text-align: center;">
                    <p><a href="/reader/{{ page_channel_uid }}?after={{ after }}">See Newer Posts</a></p>
                </div>
                {% endif %}
            </li>
        {% endif %}
        </ul>
    {% else %}
    </ul>
    <p class="content_box">There are no posts in this channel. Check back later to see if any posts are added.</p>
    {% endif %}
</section>
</div>
<script>
    // define contact tags list
    var people_tags = {{ contacts | safe }};
    var hashtags = {{ hashtags | safe }};

    var names = Object.keys(people_tags);
    
    function get_reader_data() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/retrieve?last_id={{ last_id }}&channel={{ page_channel_uid }}");
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var data = JSON.parse(xhr.responseText);
                if (data["last_id"] != "{{ last_id }}") {
                    var feed_list = document.getElementById("feed_list");
                    if (document.getElementById("feed_notification")) {
                        var new_feed_list_item = document.getElementById("feed_notification");
                    } else {
                        var new_feed_list_item = document.createElement("li");
                    }

                    new_feed_list_item.setAttribute("onclick", "location.reload()");
                    new_feed_list_item.setAttribute("id", "feed_notification");
                    new_feed_list_item.classList.add("success");

                    new_feed_list_item.innerHTML = "There are new posts in this channel. Click here to refresh and see the new posts.";

                    // add new post notification as first item
                    feed_list.insertBefore(new_feed_list_item, feed_list.firstChild);
                }
            }
        }
        xhr.send();
    }
    // make reader request every minute
    setInterval(get_reader_data, 60000);
</script>
<script src="/static/js/editor.js"></script>
{% endblock %}