{% extends "base.html" %}
{% block content %}
<section class="search_box main_content_box">
    <h1>Search</h1>
    <p>Find content from feeds you follow.</p>
    <form action="/search" method="get">
        <input type="text" name="q" id="search" placeholder="Chemex coffee recipe" value="{{ q }}">
        <input type="submit" value="Search">
    </form>
    <ul id="results" class="feed">
    </ul>
</section>
<script>
    var search = document.getElementById('search');
    search.addEventListener('keyup', function(e) {
        // run query if space key is pressed
        if (e.keyCode === 32) {
            var term = search.value;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/search?query=' + term);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var results = document.getElementById('results');
                    as_json = JSON.parse(xhr.responseText);

                    var all_results = "";

                    for (var i = 0; i < as_json["items"].length; i++) {
                        result_item = `<li>
                            <h3><a href="${as_json["items"][i]["url"]}">${as_json["items"][i]["name"]}</a></h3>
                            <p>${as_json["items"][i]["content"]["text"].split(" ").slice(0, 75).join(" ")}</p>
                        </li>`;

                        all_results += result_item;
                    }

                    results.innerHTML = all_results;
                }
            }
            xhr.send();
        }
    });
</script>
{% endblock %}