{% extends "base.html" %}
{% block content %}
<div class="main_content_box">
    <h1>Your user settings ⚙️</h1>
    <section>
        <h2>User information 📝</h2>
        <p>You are signed in as: <a href='{{ session.get("me") }}'>{{ session.get("me") }}</a></code>
        <p>Your Microsub server is located at: <a href='{{ session.get("server_url") }}'>{{ session.get("server_url") }}</a></p>
        <p>Your access token is:</p>
        <code>{{ session.get("access_token") }}</code>
        {% if session.get("scopes") and session.get("scopes").split(" ") | length > 0 %}
            <p>The following scopes have been approved for your account:</p>
            <ul>
                {% for scope in session.get("scopes").split(" ") %}
                    <li>{{ scope }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No scopes have been approved for your account.</p>
        {% endif %}
    </section>
    <section>
        <h2>Bookmarklet 🔖</h2>

        <p>You can use the following bookmarklet to subscribe to a feed:</p>

        <p><a href="javascript:(function(){window.location='https://microsub.jamesg.blog/discover-feed?url='+encodeURIComponent(window.location.href);})()">Subscribe 📝</a></p>
    </section>
</div>
{% endblock %}