{% extends "base.html" %}
{% block content %}
<div class="main_content_box">
    <h1>Your settings ⚙️</h1>
    <section>
        {% if session.get("h-card", {}).get("name") %}
        <h2>Your name</h2>
        <p>{{ session.get("h-card", {}).get("name") }}</p>
        <h2>Your bio</h2>
        <p>{{ session.get("h-card", {}).get("note") }}</p>
        <h2>Your website</h2>
        <p>You are signed in as {{ session.get("me") }}.</p>
        {% else %}
            <h2>Your website</h2>
            <p>You are signed in as {{ session.get("me") }}.</p>
        {% endif %}
        <details>
            <summary>Advanced Options</summary>
            <h2>Server Location</h2>
            <p>Your Microsub server is located at: <a href='{{ session.get("server_url") }}'>{{ session.get("server_url") }}</a></p>
            <h2>Scopes</h2>
            {% if session.get("scopes", "") and session.get("scopes", "").split(" ") | length > 0 %}
                <p>Your have granted permission for the following scopes: {{ session.get("scopes", "").replace(" ", ", ") }}</p>
            {% else %}
                <p>You have not granted any scopes.</p>
            {% endif %}
        </details>
    </section>
    <section>
        <h2>Bookmarklets 🔖</h2>

        <p>You can use the following bookmarklets to subscribe to a feed or save an article for later reading:</p>

        <p><a href="javascript:(function(){window.location='https://microsub.jamesg.blog/discover-feed?subscribe-to='+encodeURIComponent(window.location.href);})()">Subscribe 📝</a></p>

        <p><a href="javascript:(function(){window.location='https://microsub.jamesg.blog/read-later?url='+encodeURIComponent(window.location.href);})()">Read Later 📚</a></p>
    </section>
</div>
{% endblock %}