html, body, header, figure {
	margin: 0;
}
a {
	text-decoration: none;
}
html {
	background-color: #FFEFD5;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
main {
	max-width: 100vh;
	width: 85%;
	margin: auto;
	margin-top: 10px;
}
p, code, li {
	font-size: 1.0625rem;
}
select {
	font-size: 1.0625rem;
	background: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.content_box {
    border: 1px solid lightgray;
    border-radius: 10px;
    background: white;
    padding: 30px;
	margin-bottom: 15px !important;
}
.notification, .green_notification {
	border: 3px solid royalblue;
	border-radius: 10px;
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.notification {
	border: 1px solid royalblue;
}
.green_notification {
	border: 1px solid lightgreen;
	max-width: 35em;
	margin: auto;
	margin-bottom: 15px;
}
nav, .button_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
.main_content_box {
	max-width: 35em;
}
.content_box, .main_content_box {
	background-color: white;
	border-radius: 10px;
	border: 1px solid lightgray;
	padding: 20px;
	margin: auto;
}
button, .button_link {
	border-radius: 10px;
	padding: 10px !important;
	display: inline-block;
	margin-bottom: 10px !important;
	color: white;
	border: none;
	font-size: 16px;
	text-align: center;
	background-color: royalblue;
}
button a:hover, .button_link:hover {
    color: white !important;
}
.button_link {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
nav, footer ul {
	display: flex;
	border-top: 5px #FFA500 dashed;
	border-bottom: 5px #FFA500 dashed;
}
nav ul li {
	display: inline-block;
	padding-left: 10px;
}
footer ul {
	padding: 15px;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}
ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
footer li {
	flex: auto;
	text-align: center;
	margin: 0;
	padding: 5px;
}
h1 {
	font-size: 2rem;
}
img {
	border-radius: 10px;
	display: block;
	max-height: 30vh;
}
footer {
	text-align: center;
	margin-top: 5px;
}
.flex_left_home {
	flex: 0 20%;
	max-width: 30%;
	word-wrap: break-word;
}
.flex_right_home {
	flex: 1 50%;
}
.notification_bar {
	position: fixed;
	top: 0;
	text-align: center;
	background-color: green;
	color: white;
	width: 100%;
	box-shadow: 2px 2px lightgrey;
	font-weight: 600px;
}
img {
	max-width: 100%;
}
input {
	min-width: 50%;
	text-align: center;
}
h2, h1, h3 {
	color: royalblue;
}
details {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	display: inline;
	border: 3px dashed orange;
}
textarea {
	width: 100%;
}
input[type="submit"] {
	text-align: center;
}
summary {
	padding-top: 5px;
}
details ul {
	padding-top: 10px;
}
details > p {
	margin-bottom: 0px;
}
a {
	color: #006BD6;
	border-bottom: 2px dotted #006BD6;
}
.bottom-navigation {
	display: block;
	width: auto;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}
.prev {
	display: block;
	width: 50%;
}
.prev, .prev a {
	float: left
}
.next {
	float: right;
	width: 50%;
	text-align: right;
}
article header, article section {
	list-style-position: inside;
}
.main_image {
	width: 50%;
}
.indieweb_footer {
	padding-bottom: 1em;
}
.indieweb_footer img {
	width: auto;
	border-radius: 0px;
}
p, li, h1, h2, h3 {
	line-height: 1.5em;
}
a:focus {
	background-color: #006BD6;
	color: white;
	outline: lightblue 2px;
	border-bottom: 2px dotted black;
}

input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, textarea:focus, input[type="text"]:focus, input[type="username"]:focus, input[type="password"]:focus {
	outline: 3px solid royalblue;
}

button:focus, input[type="submit"]:focus, .button_link:focus {
	background-color: yellow;
	color: black !important;
	outline: 3px royalblue solid;
	border-bottom: none;
}
button:focus > a {
	color: black !important;
}
.error {
	font-weight: 600;
}

.button_list {
	border-top: 2px solid lightgray;
}

.button_list form {
	float: right;
	padding-left: 10px;
}
.notice {
	padding: 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	text-align: left;
	background-color: white;
}

a:hover {
	color: #0000CD;
}

input[type="text"], input[type="username"], input[type="password"], input[type="url"] {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    min-width: 50%;
    font-size: 1.0625rem;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    min-width: 0 !important;
    appearance: none;
    font-size: 1.1875rem;
}

@media print {
	html {
		background-color: white;
	}
	body {
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}
	nav, footer, .accessibility_label, .print_message, .announcement {
		display: none;
	}
	h1, h2, h3 {
		color: black !important;
	}
	a:after {
		content: "(" attr(href) ")";
		display: inline-block;
		width: auto;
		text-decoration: none;
		margin-left: 0.3em;
		font-style: italic;
	} 
}
#mobile_navigation, .mobile_close {
	display: none;
}
@media only screen and (max-width: 850px) {
	article img, .blogList img {
		width: 100% !important;
	}
	.flex_left_home {
		flex: none;
		max-width: 100%;
	}
	aside, #settings {
		margin-bottom: 0;
		z-index: 1;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: white;
		box-sizing: border-box;
		display: none;
	}
	.button_list form {
		float: right;
		padding-left: 0;
	}
	.prev, .next {
		width: 100% !important;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid lightgrey;
		box-sizing: border-box;
		text-align: center;
		float: none !important;
	}
	.prev a {
		float: none !important;
	}
	.reaction_set {
		text-align: center;
	}
	button, input, select, textarea {
		width: 100% !important;
		box-sizing: border-box;
	}
	button, input[type="submit"] {
		text-align: center !important;
	}
	.main_menu_mobile_message {
		display: block !important;
	}
	aside, .search_bar, #settings {
		width: 100% !important;
		margin-right: 0 !important;
	}
	nav {
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		border: 1px solid lightgray;
	}
	#desktop_navigation {
		display: none;
	}
	#mobile_navigation {
		display: block;
	}
	.modal_content {
		width: 100%;
	}
	.mobile_close {
		display: block
	}
}
.close {
	cursor: pointer;
	padding: 10px;
}
.main_menu_mobile_message {
	display: none;
}
h1 {
	display: inline-block;
	margin-bottom: 5px;
}
input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
}
input[type="submit"] {
	padding: 10px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 10px;
	min-width: 0 !important;
	appearance: none;
	margin-top: 10px;
}
pre {
  background-color: white;
  border: 2.5px dotted orange;
  padding: 2.5px;
}
.tab {
  display: inline-block;
}
.tab li {
  padding-right: 10px;
  float: left;
  list-style-type: none;
}
ol {
  padding: 0;
}
.active_tab {
  font-weight: 600;
}
.reaction {
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
	border-radius: 10px;
	border: 1px solid lightgrey;
}
.notification {
	padding: 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px solid lightgreen;
	text-align: center;
	background-color: white;
}
textarea {
	padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    min-width: 50%;
    font-size: 1.0625rem;
	box-sizing: border-box;
}
aside, .feed li, #settings {
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin-right: 10px;
	border: 1px solid lightgrey;
    height: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 100%;
	display: block;
}
aside button {
	width: 100%;
}
ul {
	margin-top: 0;
}
aside li {
	margin-bottom: 10px;
}
.reaction a {
	border-bottom: none;
}
.reaction a:focus {
	border-bottom: none !important;
}
code {
	word-wrap: break-word;
}
/* Code adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	box-sizing: border-box;
}
.modal_content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35em;
	border-radius: 10px;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
hr {
	border: 1px solid lightgray;
}
.search_button {
	display: inline;
}
.search_bar {
	width: 80%;
}
details, summary {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}
details {
	margin-bottom: 20px;
}
audio {
	width: 100%;
	margin-top: 15px;
	border-radius: 10px;
}
.js {
	display: none;
}
.avatar {
	width: 50px;
	height: 50px;
}