html, body, header, figure {
	margin: 0;
}
* {
	max-width: 100%;
}
a {
	text-decoration: none;
}
html {
	background: url("/static/wood.avif");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#main {
	max-width: 50em;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 75px;
}
p, code, li {
	font-size: 1.0625rem;
}
#results {
	text-align: left !important;
}
.search_box {
	text-align: center;
	min-height: 15em;
}
select {
	font-size: 1.0625rem;
	background: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.content_box {
	margin-bottom: 15px !important;
}
.notification, .green_notification {
	border: 3px solid royalblue;
	border-radius: 10px;
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.notification {
	border: 1px solid royalblue;
}
.green_notification {
	border: 1px solid lightgreen;
	margin-bottom: 15px;
}
nav, .button_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.button_list {
	margin: 10px 0;
}
button, .button_link {
	border-radius: 10px;
	padding: 10px !important;
	display: inline-block;
	margin-bottom: 10px !important;
	color: white;
	border: none;
	font-size: 16px;
	text-align: center;
	background-color: royalblue;
}
button a:hover, .button_link:hover {
    color: white !important;
}
.button_link {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.reacted {
	border: 2px solid lightgreen !important;
}
nav, footer ul {
	display: flex;
	background: white;
	padding-left: 25px;
	padding-right: 25px;
}
.subscribe_button {
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 5px;
}
nav ul li {
	display: inline-block;
	padding-left: 10px;
}
footer ul {
	padding: 15px;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}
ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
footer li {
	flex: auto;
	text-align: center;
	margin: 0;
	padding: 5px;
}
h1 {
	font-size: 2rem;
}
img {
	border-radius: 10px;
	display: block;
	max-height: 30vh;
}
footer {
	text-align: center;
	margin-top: 5px;
}
.flex_left_home {
	width: 30%;
	word-wrap: break-word;
}
.flex_right_home {
	flex: 1 50%;
}
.notification_bar {
	position: fixed;
	top: 0;
	text-align: center;
	background-color: green;
	color: white;
	width: 100%;
	box-shadow: 2px 2px lightgrey;
	font-weight: 600px;
}
img {
	max-width: 100%;
}
input {
	min-width: 50%;
	text-align: center;
}
h2, h1, h3 {
	color: royalblue;
}
.author img {
	float: left;
	margin-right: 10px; 
}
details {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	display: inline;
	border: 3px dashed orange;
}
textarea {
	width: 100%;
}
input[type="submit"] {
	text-align: center;
}
summary {
	padding-top: 5px;
}
details ul {
	padding-top: 10px;
}
details > p {
	margin-bottom: 0px;
}
a {
	color: #006BD6;
	border-bottom: 2px dotted #006BD6;
}
.bottom-navigation {
	display: block;
	width: auto;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}
.prev {
	display: block;
	width: 50%;
}
.prev, .prev a {
	float: left
}
.next {
	float: right;
	width: 50%;
	text-align: right;
}
article header, article section {
	list-style-position: inside;
}
.main_image {
	width: 50%;
}
.indieweb_footer {
	padding-bottom: 1em;
}
.indieweb_footer img {
	width: auto;
	border-radius: 0px;
}
p, li, h1, h2, h3 {
	line-height: 1.5em;
}
a:focus {
	background-color: #006BD6;
	color: white;
	outline: lightblue 2px;
	border-bottom: 2px dotted black;
}

input[type="text"]:focus, input[type="url"]:focus, input[type="number"]:focus, textarea:focus, input[type="text"]:focus, input[type="username"]:focus, input[type="password"]:focus {
	outline: 3px solid royalblue;
}

button:focus, input[type="submit"]:focus, .button_link:focus {
	background-color: yellow;
	color: black !important;
	outline: 3px royalblue solid;
	border-bottom: none;
}
button:focus > a {
	color: black !important;
}
.error {
	font-weight: 600;
}

.button_list {
	border-top: 2px solid lightgray;
}

.button_list form {
	float: right;
	padding-left: 10px;
}
.notice {
	padding: 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	text-align: left;
	background-color: white;
}

a:hover {
	color: #0000CD;
}

input[type="text"], input[type="username"], input[type="password"], input[type="url"] {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    min-width: 50%;
    font-size: 1.0625rem;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    min-width: 0 !important;
    appearance: none;
    font-size: 1.1875rem;
}
/* skip link hiding code from https://www.a11ymatters.com/pattern/skip-link/ */
.accessibility_label_top {
    position: fixed;
    top: -200px;
}
.accessibility_label_top:focus {
	top: 0;
	left: 50%;
	padding: 10px;
}
.accessibility_label {
	position: fixed;
	bottom: -200px;
}
.accessibility_label:focus {
	bottom: 0 !important;
	left: 50%;
	padding: 10px;
	z-index: 1;
}

.following_item form {
	display: inline;
}

@media print {
	html {
		background-color: white;
	}
	body {
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}
	nav, footer, .accessibility_label, .print_message, .announcement {
		display: none;
	}
	h1, h2, h3 {
		color: black !important;
	}
	a:after {
		content: "(" attr(href) ")";
		display: inline-block;
		width: auto;
		text-decoration: none;
		margin-left: 0.3em;
		font-style: italic;
	} 
}
#mobile_navigation, .mobile_close, .mobile {
	display: none;
}
@media only screen and (max-width: 900px) {
	article img, .blogList img {
		width: 100% !important;
	}
	.flex_left_home {
		flex: none;
		max-width: 100%;
	}
	aside, #settings {
		margin-bottom: 0;
		z-index: 1;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: white;
		box-sizing: border-box;
		display: none;
	}
	.inner_content_box {
		width: 100% !important;;
	}
	.button_list form {
		float: right;
	}
	.prev, .next {
		width: 100% !important;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid lightgrey;
		box-sizing: border-box;
		text-align: center;
		float: none !important;
	}
	.prev a {
		float: none !important;
	}
	.reaction_set {
		text-align: center;
	}
	button, input, select, textarea {
		width: 100% !important;
		box-sizing: border-box;
	}
	button, input[type="submit"] {
		text-align: center !important;
	}
	.main_menu_mobile_message {
		display: block !important;
	}
	aside, .search_bar, #settings {
		width: 100% !important;
		margin-right: 0 !important;
	}
	nav {
		background-color: white;
		padding: 0;
		border-bottom: 1px solid lightgray;
		padding-left: 20px;
		padding-right: 20px;
	}
	#desktop_navigation {
		display: none;
	}
	#mobile_navigation, .mobile {
		display: block;
	}
	.modal_content {
		width: 100% !important;
		max-width: 100% !important;
	}
	.mobile_close {
		display: block
	}
}
.close {
	cursor: pointer;
	padding: 10px;
}
.main_menu_mobile_message {
	display: none;
}
h1 {
	display: inline-block;
	margin-bottom: 5px;
}
input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
}
input[type="submit"] {
	padding: 10px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 10px;
	min-width: 0 !important;
	appearance: none;
	margin-top: 10px;
}
pre {
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}
.tab {
  display: inline-block;
}
.tab li {
  padding-right: 10px;
  float: left;
  list-style-type: none;
}
ol {
  padding: 0;
}
.active_tab {
  font-weight: 600;
}
.reaction, .reaction-no-link {
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
	border-radius: 10px;
	border: 1px solid lightgrey;
	background-color: white;
}
.notification {
	padding: 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px solid lightgreen;
	text-align: center;
	background-color: white;
}
textarea {
	padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    min-width: 50%;
    font-size: 1.0625rem;
	box-sizing: border-box;
}
aside, .feed li, #settings, .bottom-navigation, .content_box, .main_content_box {
	padding: 10px;
	background-color: white;
	box-shadow: 2px 2px lightblue;
	border: 1px solid lightgrey;
	margin-bottom: 20px;
	box-sizing: border-box;
	max-width: 100%;
	display: block;
}
.inner_content_box {
	margin: auto;
	width: 50em;
}
.success {
	border: 1px solid lightgreen;
	background: white;
	text-align: center;
	padding: 10px;
}
#settings ul li {
	padding-bottom: 30px;
}
aside button {
	width: 100%;
}
ul {
	margin-top: 0;
}
aside li {
	margin-bottom: 10px;
}
.reaction a {
	border-bottom: none;
}
.reaction a:focus {
	border-bottom: none !important;
}
footer img {
	display: inline-block;
}
footer a {
	border-bottom: none;
}
footer a:focus {
	background: initial;
	border-bottom: 2px solid darkblue;
}
.sticky_footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	border-top: 2px solid lightgrey;
	text-align: center;
	padding-bottom: 10px;
}
.search_list ul {
	margin: 0;
	padding: 0 !important;
}
.search_list ul {
	border: none;
	box-shadow: none;
}
.search_list li {
	float: left;
	margin: 10px;
	border: 2px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}
code {
	word-wrap: break-word;
}
video {
	width: 100%;
}
/* Code adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	box-sizing: border-box;
}
.modal_content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35em;
	border-radius: 10px;
	box-sizing: border-box;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
hr {
	border: 1px solid lightgray;
}
.search_button {
	display: inline;
}
.search_bar {
	width: 80%;
}
details, summary {
	max-width: 100%;
	display: inline-block;
	box-sizing: border-box;
}
.dragover, .data_message {
	border: 3px solid darkblue;
	background-color: lightblue;
}
.data_message {
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
details {
	margin-bottom: 20px;
}
audio {
	width: 100%;
	margin-top: 15px;
	border-radius: 10px;
}
.js {
	display: none;
}
.avatar {
	width: 50px;
	height: 50px;
}
.unread {
	box-shadow: 3px 3px lightgreen;
	border: 2px solid grey;
}