{% extends "base.html" %}
{% block content %}
<section class="content_box">
    <h2>Lists</h2>
    <a href="#" onclick="trigger_modal('list-form')" class="subscribe_button" style="float: right;">Create a new list</a>
    {% if channels %}
      <p>Here are the channels in your feed:</p>
      <ul>
      {% for i in range(0, channels | length) %}
      <li class="button_list">
        <a href="/reader/{{ channels[i][1] }}">{{ channels[i][0] }}</a>
        <div style="float: right; position: relative;">
        {% if i != 0 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ channels[i][1] }}"><input type="hidden" name="channel" value="{{ channels[i-1][1] }}"><input type="submit" value="⬆️" class="reaction" aria-labelledby="Move Up"></form>
        {% endif %}
        {% if i < channels | length - 1 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ channels[i][1] }}"><input type="hidden" name="channel" value="{{ channels[i+1][1] }}"><input type="submit" value="⬇️" class="reaction" aria-labelledby="Move Down"></form>
        {% endif %}
        </div>
      </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>You have not created any channels yet.</p>
    {% endif %}
</section>
<section class="content_box modal" id="list-form" style="display: none;">
  <div class="modal_content">
    <span class="close" onclick="trigger_modal('list-form')">&times;</span>
    <h2>Create a List</h2>
    <p>Lists make it easy to categorise people you follow so you can easily keep track of the information that matters most to you.</p>
    <form action="/create-channel" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" placeholder="IndieWeb" required><br>
      <input type="submit" value="Create channel" />
      <input type="hidden" name="action" id="action" value="channels" />
    </form>
  </div>
</section>
<!-- <section class="content_box">
  <h2>Discover a Feed</h2>
  <p>Use the form below to discover a feed URL.</p>
  <p>You can subscribe to RSS, Microformats 2, and JSON Feed feeds.</p>
  <form action="/discover" method="POST">
    <label for="discover">Website Address:</label><br>
    <input id="discover" type="url" name="url" placeholder="https://theguardian.com" /><br>
    <input type="submit" value="Discover feed" />
  </form>
</section> -->
{% endblock %}