{% extends "base.html" %}
{% block content %}
<h1>Cinnamon</h1>
<section class="content_box">
    <h2>Channels</h2>
    {% if channels %}
      <p>Here are the channels in your feed:</p>
      <ul>
      {% for i in range(0, channels | length) %}
      <li class="button_list">
        <a href="/channel/{{ channels[i][1] }}">{{ channels[i][0] }}</a>
        <div style="float: right; position: relative;">
        {% if i != 0 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ channels[i][1] }}"><input type="hidden" name="channel" value="{{ channels[i-1][1] }}"><input type="submit" value="Move Up"></form>
        {% endif %}
        {% if i < channels | length - 1 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ channels[i][1] }}"><input type="hidden" name="channel" value="{{ channels[i+1][1] }}"><input type="submit" value="Move Down"></form>
        {% endif %}
        </div>
      </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>You have not created any channels yet.</p>
    {% endif %}
</section>
<section class="content_box">
    <h2>Create a Channel</h2>
    <p>Use the form below to create a channel.</p>
    <form action="/create-channel" method="POST">
      <label for="name">Channel Name:</label><br>
      <input type="text" name="name" id="name" placeholder="IndieWeb" required><br>
      <input type="submit" value="Create channel" />
      <input type="hidden" name="action" id="action" value="channels" />
    </form>
</section>
{% endblock %}