{% extends "base.html" %}
{% block content %}
<section class="content_box">
    <h2>Lists</h2>
    <a href="#" onclick="trigger_modal('list-form')" class="subscribe_button" style="float: right;">Create a new list</a>
    {% if feeds %}
      <p>Here are the channels in your feed:</p>
      <ul>
      {% for i in range(0, feeds | length) %}
      <li class="button_list">
        <a href="/reader/{{ feeds[i][1] }}">{{ feeds[i][0] }}</a>
        <div style="float: right; position: relative;">
        {% if i != 0 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ feeds[i][1] }}"><input type="hidden" name="channel" value="{{ feeds[i-1][1] }}"><input type="submit" value="⬆️" class="reaction" aria-labelledby="Move Up"></form>
        {% endif %}
        {% if i < feeds | length - 1 %}
        <form action="/reorder" method="POST"><input type="hidden" name="channel" value="{{ feeds[i][1] }}"><input type="hidden" name="channel" value="{{ feeds[i+1][1] }}"><input type="submit" value="⬇️" class="reaction" aria-labelledby="Move Down"></form>
        {% endif %}
        </div>
      </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>You have not created any channels yet.</p>
    {% endif %}
</section>
<section class="content_box modal" id="list-form" style="display: none;">
  <div class="modal_content">
    <span class="close" onclick="trigger_modal('list-form')">&times;</span>
    <h2>Create a List</h2>
    <p>Lists make it easy to categorise people you follow so you can easily keep track of the information that matters most to you.</p>
    <form action="/create-channel" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" placeholder="IndieWeb" required><br>
      <input type="submit" value="Create channel" />
      <input type="hidden" name="action" id="action" value="channels" />
    </form>
  </div>
</section>
{% endblock %}