{% extends "base.html" %}
{% block content %}
<h1>Microsub Dashboard</h1>
<section class="content_box">
    <h2>Discover a Feed</h2>
    <p>Use the form below to discover a feed URL.</p>
    <p>Microformats 2 (mf2) and RSS feeds are currently supported.</p>
    <form action="/discover" method="POST">
      <label for="discover">Website Address:</label><br>
      <input id="discover" type="url" name="url" placeholder="https://theguardian.com" /><br>
      <input type="submit" value="Discover feed" />
    </form>
  </section>
  <section class="content_box">
      <h2>Subscribe to a Feed</h2>
      <p>Use the form below to subscribe to a feed.</p>
      <p>Microformats 2 (mf2) and RSS feeds are currently supported.</p>
      <form action="/discover" method="GET">
        <label for="channel">Channel Name:</label><br>
        <select name="channel" id="channel">
          {% for channel in channels %}
            <option value="{{ channel[1] }}">{{ channel[0] }}</option>
          {% endfor %}
        </select><br>
        <label for="url">Feed Address:</label><br>
        <input id="url" type="url" name="url" placeholder="https://jamesg.blog/feed.xml" /><br>
        <input type="submit" value="Preview Subscription" />
      </form>
  </section>
{% endblock %}