{% extends "base.html" %}
{% block content %}
<section class="search_box main_content_box">
    <h1>Discover People</h1>
    <form action="/search" method="get">
        <input type="text" name="q" id="search" placeholder="Chemex coffee recipe" value="{{ q }}">
        <select name="channel" id="channel" aria-labelledby="Channel in which to search (optional)">
            {% for c in channels %}
                <option value="{{ c._id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
    </form>
    <footer class="search_list">
        <ul>
            <li><a href="/search">Your Feed</a></li>
            <li><a href="/following">Following</a></li>
            <li><a href="/explore">People</a></li>
        </ul>
    </footer>
    {% if feeds %}
        <ul id="results" class="feed">
            {% for feed in feeds %}
            <li style="display: flex;" id="{{ feed.id }}">
                <div style="flex: 0 75%;">
                    {% if feed.get("photo") and feed.get("photo") != "" %}
                        <img src="{{ feed.get("photo") }}" style="width: 50px; height: 50px; border-radius: 50%; float: left; margin-right: 10px;">
                    {% endif %}
                    {% if feed.get("name") != None %}
                        <p><a href="{{ feed.get("url") }}">{{ feed.get("name") }}</a>
                            (<a href="/reader/{{ feed.get("channel") }}">{{ feed.get("channel_name") }})</a></p>
                    {% else %}
                        <p><a href="{{ feed.get("url") }}">{{ feed.get("url") }}</a></p>
                    {% endif %}
                </div>
                <div style="flex: 1; text-align: right;" class="following_item">
                    <a onclick="send_unfollow('{{ feed.get("url") }}', '{{ feed[0] }}')" class="reaction">Unfollow ❌</a>
                    {% if feed.get("muted") == 0 and "mute" in session.get("scope") %}
                    <form action="/mute" method="POST"><input type="hidden" name="channel" value="{{ feed.get("url") }}">
                        <input type="hidden" name="url" value="{{ feed.get("url") }}">
                        <input type="hidden" name="action" value="mute">
                        <input type="submit" value="Mute" class="reaction">
                    </form>
                    {% elif feed.get("muted") != 0 and "block" in session.get("scope") %}
                    <form action="/mute" method="POST">
                        <input type="hidden" name="channel" value="{{ feed.get("url") }}">
                        <input type="hidden" name="url" value="{{ feed.get("url") }}">
                        <input type="hidden" name="action" value="unmute">
                        <input type="submit" value="Unmute" class="reaction">
                    </form>
                    {% endif %}
                    {% if feed.get("blocked") == 0 and "block" in session.get("scope") %}
                    <form action="/block" method="POST">
                        <input type="hidden" name="channel" value="{{ feed.get("url") }}">
                        <input type="hidden" name="url" value="{{ feed.get("url") }}">
                        <input type="hidden" name="action" value="block">
                        <input type="submit" value="Block" class="reaction">
                    </form>
                    {% elif feed.get("blocked") != 0 and "block" in session.get("scope") %}
                    <form action="/block" method="POST"><input type="hidden" name="channel" value="{{ feed.get("url") }}">
                        <input type="hidden" name="url" value="{{ feed.get("url") }}">
                        <input type="hidden" name="action" value="unblock">
                        <input type="submit" value="Unblock">
                    </form>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul id="results" class="feed">
            <p>There are no feeds in this channel.</p>
        </ul>
    {% endif %}
    <script>
        var search = document.getElementById('search');
        search.addEventListener('keyup', function(e) {
            // run query if space key is pressed
            if (e.keyCode === 32) {
                var term = search.value;
    
                var results = document.getElementById('results');
    
                results.innerHTML = "<p style='text-align: center;'>Searching for: " + term + "</p>";
    
                var xhr = new XMLHttpRequest();
    
                xhr.open('POST', '/following/search?query=' + term);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        as_json = JSON.parse(xhr.responseText);
    
                        var all_results = "";
    
                        if (as_json["items"].length == 0) {
                            all_results += "<p style='text-align: center;'>No results were found for your query.</p>";
                        }
    
                        for (var i = 0; i < as_json["items"].length; i++) {
                            result_item = `
                            <li style="display: flex;" id="${as_json["items"][i]["id"]}">
                                <div style="flex: 0 75%;">
                                    <img src="${as_json["items"][i]["photo"]}" style="width: 50px; height: 50px; border-radius: 50%; float: left; margin-right: 10px;">
                                    ${
                                        as_json["items"][i]["name"] != null ?
                                        `<p><a href="${as_json["items"][i]["url"]}">${as_json["items"][i]["name"]}</a> (#${as_json["items"][i]["id"]})</p>` :
                                        `<p><a href="${as_json["items"][i]["url"]}">${as_json["items"][i]["url"]}</a></p>`
                                    }
                                </div>
                            </li>`;
    
                            all_results += result_item;
                        }
    
                        results.innerHTML = all_results;
                    }
                }
                xhr.send();
            }
        });
    </script>
</section>
{% endblock %}