{% extends "base.html" %}
{% block content %}
<section class="content_box">
    <h1>People You Follow</h1>
    <p>You follow {{ count }} people.</p>
    <form method="get">
        <input type="text" name="q" id="search" placeholder="Search for someone..." value="{{ q }}">
        <input type="submit" value="Search">
    </form>
    {% if feeds %}
        <ul id="results" class="feed">
            {% for feed in feeds %}
            <li style="display: flex;">
                <div style="flex: 0 75%;">
                    {% if feed[3] and feed[3] != "" %}
                        <img src="{{ feed[3] }}" style="width: 50px; height: 50px; border-radius: 50%; float: left; margin-right: 10px;">
                    {% endif %}
                    {% if feed[4] != None %}
                        <p><a href="{{ feed[1] }}">{{ feed[4] }}</a> (#{{ feed[0] }})</p>
                    {% else %}
                        <p><a href="{{ feed[1] }}">{{ feed[1] }}</a></p>
                    {% endif %}
                </div>
                <div style="flex: 1; text-align: right;" class="following_item">
                    <a onclick="send_unfollow('{{ feed[1] }}', '{{ feed[0] }}')" class="reaction">Unfollow ❌</a>
                    {% if feed[6] == 0 and "mute" in session.get("scope") %}
                    <form action="/mute" method="POST"><input type="hidden" name="channel" value="{{ feed[1] }}">
                        <input type="hidden" name="url" value="{{ feed[1] }}">
                        <input type="hidden" name="action" value="mute">
                        <input type="submit" value="Mute" class="reaction">
                    </form>
                    {% elif feed[6] != 0 and "block" in session.get("scope") %}
                    <form action="/mute" method="POST">
                        <input type="hidden" name="channel" value="{{ feed[1] }}">
                        <input type="hidden" name="url" value="{{ feed[1] }}">
                        <input type="hidden" name="action" value="unmute">
                        <input type="submit" value="Unmute" class="reaction">
                    </form>
                    {% endif %}
                    {% if feed[7] == 0 and "block" in session.get("scope") %}
                    <form action="/block" method="POST">
                        <input type="hidden" name="channel" value="{{ feed[1] }}">
                        <input type="hidden" name="url" value="{{ feed[1] }}">
                        <input type="hidden" name="action" value="block">
                        <input type="submit" value="Block" class="reaction">
                    </form>
                    {% elif feed[7] != 0 and "block" in session.get("scope") %}
                    <form action="/block" method="POST"><input type="hidden" name="channel" value="{{ feed[1] }}">
                        <input type="hidden" name="url" value="{{ feed[1] }}">
                        <input type="hidden" name="action" value="unblock">
                        <input type="submit" value="Unblock">
                    </form>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul id="results" class="feed">
            <p>There are no feeds in this channel.</p>
        </ul>
    {% endif %}
    <script>
        var search = document.getElementById('search');
        search.addEventListener('keyup', function(e) {
            // run query if space key is pressed
            if (e.keyCode === 32) {
                var term = search.value;
    
                var results = document.getElementById('results');
    
                results.innerHTML = "<p style='text-align: center;'>Searching for: " + term + "</p>";
    
                var xhr = new XMLHttpRequest();
    
                var channel = document.getElementById('channel');
    
                var channel_id = channel.options[channel.selectedIndex].value;
    
                xhr.open('GET', '/search?query=' + term + '&channel=' + channel_id + '&format=json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        as_json = JSON.parse(xhr.responseText);
    
                        var all_results = "";
    
                        if (as_json["items"].length == 0) {
                            all_results += "<p style='text-align: center;'>No results were found for your query.</p>";
                        }
    
                        for (var i = 0; i < as_json["items"].length; i++) {
                            result_item = `<li>
                                <h3><a href="${as_json["items"][i]["url"]}">${as_json["items"][i]["title"]}</a></h3>
                                <p>${as_json["items"][i]["author"] ? "Published by " + as_json["items"][i]["author"]["name"] + " on " : ""} ${as_json["items"][i]["published"].split("T").slice(0, 0)}</p>
                                <p>${as_json["items"][i]["content"]["text"].split(" ").slice(0, 75).join(" ")}</p>
                                <p class="reaction_set">
                                    <a href="${as_json["items"][i]["url"]}" class="reaction-no-link">Read Full Post 📚</a>
                                </p>
                            </li>`;
    
                            all_results += result_item;
                        }
    
                        results.innerHTML = all_results;
                    }
                }
                xhr.send();
            }
        });
    </script>
</section>
{% endblock %}