{% extends "base.html" %}
{% block content %}
<h1>Modify {{ channel[0] }} Channel</h1>
{% include "show_error.html" %}
<section class="content_box">
    <h2>Feeds In This Channel</h2>
    <p>Below is a list of all the feeds in the {{ channel[0] }} channel.</p>
    {% if feeds %}
        <ul>
            {% for feed in feeds %}
            <li>
                <a href="{{ feed[1] }}">{{ feed[1] }}</a>
                <form action="/unfollow" method="POST"><input type="hidden" name="channel" value="{{ channel[1] }}">
                    <input type="hidden" name="url" value="{{ feed[1] }}">
                    <input type="submit" value="Unfollow">
                </form>
                {% if feed[6] == 0 and "mute" in session.get("scope") %}
                <form action="/mute" method="POST"><input type="hidden" name="channel" value="{{ channel[1] }}">
                    <input type="hidden" name="url" value="{{ feed[1] }}">
                    <input type="hidden" name="action" value="mute">
                    <input type="submit" value="Mute">
                </form>
                {% elif feed[6] != 0 and "block" in session.get("scope") %}
                <form action="/mute" method="POST"><input type="hidden" name="channel" value="{{ channel[1] }}">
                    <input type="hidden" name="url" value="{{ feed[1] }}">
                    <input type="hidden" name="action" value="unmute">
                    <input type="submit" value="Unmute">
                </form>
                {% endif %}
                {% if feed[7] == 0 and "block" in session.get("scope") %}
                <form action="/block" method="POST"><input type="hidden" name="channel" value="{{ channel[1] }}">
                    <input type="hidden" name="url" value="{{ feed[1] }}">
                    <input type="hidden" name="action" value="block">
                    <input type="submit" value="Block">
                </form>
                {% elif feed[7] != 0 and "block" in session.get("scope") %}
                <form action="/block" method="POST"><input type="hidden" name="channel" value="{{ channel[1] }}">
                    <input type="hidden" name="url" value="{{ feed[1] }}">
                    <input type="hidden" name="action" value="unblock">
                    <input type="submit" value="Unblock">
                </form>
                {% endif %}
                <br>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no feeds in this channel.</p>
    {% endif %}
</section>
<section class="content_box">
    <h2>Rename Channel</h2>
    <form action="/channel/{{ channel[1] }}" method="POST">
        <label for="channel">Channel Name:</label><br>
        <input type="hidden" name="channel" id="channel" value="{{ channel[1] }}"><br>
        <input type="text" name="name" value="{{ channel[0] }}" placeholder="Channel name"><br>
        <input type="hidden" name="method" id="method" value="delete">
        <input type="hidden" name="action" id="action" value="channels">
        <input type="submit" value="Rename Channel">
    </form>
</section>
<section class="content_box">
    <h2>Delete Channel</h2>
    <p>You can delete this channel using the button below.</p>
    <p>Deleting a channel is irreversible.</p>
    <form action="/delete-channel" method="POST">
        <input type="hidden" name="channel" value="{{ channel[1] }}">
        <input type="hidden" name="method" id="method" value="delete">
        <input type="hidden" name="action" id="action" value="channels">
        <input type="submit" value="Delete Channel">
    </form>
</section>
{% endblock %}