<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Microsub Dashboard{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="webmention" href="https://webmention.jamesg.blog/endpoint" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label">Skip to main content</a>
      <nav>
        {% if session.get("me") %}
        <p><a href="/reader/all">Microsub Reader</a></p>
        {% else %}
        <p><a href="/">Microsub Reader</a></p>
        {% endif %}
        {% if session.get("me") %}
        <ul>
          <li><a href="/reader/all">Home</a></li>
          <li><a href="/channels">Channels</a></li>
          <li><a href="/feeds">Feeds</a></li>
          <li><a href="/settings">Logged in as {{ session.get("me").replace("https://", "").strip("/") }}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
      </nav>
      <div id="main">
        {% block content %}
        {% endblock %}
      </div>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>